/*
QPushButton
{
    border-style: outset;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(50,50,50);
}
*/
QPushButton#pbTiState1,
QPushButton#pbTiState2,
QPushButton#pbTiState3,
QPushButton#pbTiState4,
QPushButton#pbTcState
{
    border-radius: 4px;
    border-width: 2px;
    border-color: rgb(50,50,50);
}


QPushButton#pbTiState1:checked,
QPushButton#pbTiState2:checked,
QPushButton#pbTiState3:checked,
QPushButton#pbTiState4:checked,
QPushButton#pbTcState:checked {
    image: url(:/Resources/On_resize.png);
}

QPushButton#pbTiState1,
QPushButton#pbTiState2,
QPushButton#pbTiState3,
QPushButton#pbTiState4,
QPushButton#pbTcState {
    image: url(:/Resources/Off_resize.png);
}
