/*
QPushButton
{
    border-style: outset;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(50,50,50);
}
*/

QPushButton#pbEepromStatus,
QPushButton#pbTransactionStatus,
QPushButton#pbVoltageOnTcStatus{
    border-radius: 12px;
    background-color:rgb(50, 250, 50);
}

QPushButton#pbEepromStatus:checked,
QPushButton#pbTransactionStatus:checked,
QPushButton#pbVoltageOnTcStatus:checked{
    background-color:rgb(250, 50, 50);
}


QPushButton#pbTcState
{
    border-style: outset;
    border-radius: 4px;
    background-color:rgba(0, 0, 0, 0);
}

QPushButton#pbTsState
{
    border-style: outset;
    border-radius: 4px;
    background-color:rgb(150, 200, 200);
}

QPushButton#pbTsState:checked,
QPushButton#pbTcState:checked {
    image: url(:/Resources/On_resize_v2.png);
    background-color:rgb(150, 255, 200);
}

QPushButton#pbTsState,
QPushButton#pbTcState {
    image: url(:/Resources/Off_resize_v2.png);
}
